ion-toolbar {
  --background: white;
}

ion-content {
  --background: rgba(58, 58, 145, 0.89);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: 700;
  font-size: 26px;
  color: white;
  margin-bottom: 15%;
}

img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 8px solid #ffffff;
}

#form {
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

ion-button {
  margin-top: 35px;
  height: 48px;
  font-size: 18px;
  text-transform: initial;
  border-radius: 50px;
  box-shadow: 1px 8px 8px 0px rgba($color: #000000, $alpha: 1.0);
  --box-shadow: none;
}
